@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap');

body{
    background-color:white;
    color:black;
    height:3000px;
    overflow-x: hidden;
}
.nav{
    position: sticky;
    top:0px;
    z-index: 1000;
    background-color: white;
    padding:10px 0px;
}
ul{
    padding:0px;
    margin:0px;
    display: flex;
    justify-content: right;
    justify-content: center;
}
ul li{
    list-style-type: none;
    margin: 5px;
    padding:15px;
    font-size:16px;
    font-weight: bold;
    font-family: Poppins;
}
ol li{
    list-style-type: none;
}
.logo{
    margin-right: auto;
    list-style-type: none;
    font-size:16px;
    font-weight: bold;
    font-family: Poppins;
}
.logo-img-1 {
    height: 30px;
    width: auto;
    filter: brightness(1.75);
}
.logo-img-2 {
    height: 78px;
    width: auto;
    filter: brightness(1.1);
    position: relative;
    top: 82px;
    left: -322px;
}
.img-1{
    width:100px;
    height: auto;
}

.img-2{
    height: 70px;
    width: auto;
    position: relative;
    bottom: -28px;
    left: 52px;
}

.h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Roboto;
    margin-top: 125px;
}
.h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Afacad Flux;
    margin-top: 40px;
}
.h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins;
    margin-top: 40px;
}
.h4{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Open Sans;
    margin-top: px;
}
.h5{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins;
    margin-top: 38px;
    position: relative;
    left: 60px;
    top: -20px;
}
 .master-box-1 { /*Used to Hold out other boxes - primarily .box-1 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 902px;
    height: 84px;
    position: relative;
    left: 183px;
}
.master-box-2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 1000px;
    position: relative;
    flex-wrap: wrap;
    top: 40px;
    left: 110px;
    padding: 15px;
    margin: 25px;
}
.master-box-3{
    background-color: rgb(44, 41, 41);
    color: white;
    width: 1388px;
    height: 1465px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 12px;
    left: -8px;
}
.master-box-4{
    background-color: white;
    color: black;
    width: 1514px;
    height: 671px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    top: 75px;
    left: -862px;
}
.content-box{
    width: 302px;
    height: 190px;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    top:-20px;
    padding: 8px;
}
.box-1{
    background-color: rgb(32, 192, 255);
    border: 1px solid rgb(32, 192, 255);
    border-radius: 5px;
    height: 40px;
    width: 256px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Afacad Flux;
    margin-top: 40px;
    color: white;
    position: relative;
    left: 22px;
    top: -11px;
}
.box-2{
    background-color: rgb(65 139 0);
    border: 1px solid rgb(123, 255, 0);
    border-radius: 8px;
    height: 30px;
    width: 160px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Afacad Flux;
    margin-top: 40px;
    color: white;
    position: relative;
    left: 60px;
}
.box-3{
    background-color: rgb(44, 41, 41); 
    color:white;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
    height: 245px;
    width: 500px;
    position: relative;
    /* background-color: yellow; */
    top: -610px;
    left: -345px;
}
.box-4{
    background-color: white;
    color: black;
    height: 210px;
    width: 350px;
    position: relative;
    left: 700px;
    top: -274px;
    border-radius: 14px;
}

.box-5{
    background-color: rgb(32, 192, 255);
    border: 1px solid rgb(240, 240, 240);
    color: white;
    border-radius: 5px;
    height: 108px;
    width: 340px;
    position: relative;
    left: 4px;
}
.box-6{
    background-color: rgb(44, 41, 41); 
    /* background-color: yellow; */
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
    height: 374px;
    width: 1000px;
    position: relative;
    top: 60px;
    left: -700px;
}
.box-7{
    background-color: rgb(255, 255, 255);
    /* background-color: yellow; */
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
    height: 370px;
    width: 200px;
    position: relative;
    /* border: 1px solid black; */
    top: -157px;
    left: 24px;    
}
.box-8{
    background-color: rgb(255, 255, 255);
    /* background-color: yellow; */
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
    height: 608px;
    width: 200px;
    position: relative;
    /* border: 1px solid black; */
    top: -38px;
    left: -17px;
}
.box-9{
    background-color: rgb(255, 255, 255);
    /* background-color: yellow; */
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
    height: 343px;
    width: 266px;
    position: relative;
    /* border: 1px solid black; */
    top: -168px;
    left: -58px;
}
.box-10{
    background-color: rgb(255, 255, 255);
    /* background-color: yellow; */
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
    height: 343px;
    width: 200px;
    position: relative;
    /* border: 1px solid black; */
    top: -167px;
    left: -99px;
}

.box-11{
    background-color: white;
    height: 150px;
    width: 320px;
    position: relative;
    top: -92px;
    left: 125px;
}

.box-12{
    background-color: white;
    color: black;
    height: 300px;
    width: 300px;
    position: relative;
    top: -180px;
    left: -110px;
    
}
.box-13{
    background-color: rgb(32, 192, 255);
    border: 1px solid rgb(240, 240, 240);
    color: white;
    border-radius: 5px;
    height: 44px;
    width: 195px;
    position: relative;
    left: 4px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    left: 9px;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1388px;
    height: 750px;
    overflow: auto;
    background-color: white;
    position: relative;
    top: 0px;
    left: 61px
}

form{
    display:flex;
    justify-content: center;
    align-items: center;
}


